body {
    background-color: #9d949e;
    background-image:url('./imgs/me2.png');
    background-repeat:no-repeat;
    background-position:left center;
}

.list {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25vh;
}
